{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-4 my-auto">
            <h1 class="intro-text display-5 p-3 logo-font text-white">
                All of the Gym Equipment You Need in one place
            </h1>
            <div class="my-5">
                <h2>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 category-badge">Shop Now</a>
                </h2>
            </div>
        </div>
    </div>

{% endblock %}