<div class="collapse navbar-collapse" id="main-nav-2">
    <ul class="navbar-nav w-auto mx-auto">
        <li >
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contact-us-link" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
        <li>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="book-a-consultation-link" aria-haspopup="true" aria-expanded="false">
                Book a consultation
            </a>
        </li>
        <li>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="news-link" aria-haspopup="true" aria-expanded="false">
                News
            </a>
        </li>
        <li>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
        </li>
    </ul>
</div>