{% extends "base.html" %}
{% load static %}



{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!--Status 'GymBag' page-->
<div class="overlay"></div>
<div class="container-fluid about-container">
    <div class="row" id="order-status">
        <div class="col mt-5 mb-5">
          
            <h1>Order Status</h1>
            <p>Enter your order number below <br>

                <form method="POST" action="{% url 'order_list' %}">

                    {% csrf_token %}

                    <input class="form-control search_order" type="search" placeholder="Search Orders"
                        aria-label="Search Orders" name="searched" style="width: 600px;"><br>
                    <button class="btn btn-info search_button" type="submit">Search</button>

                </form>
            </p>

               
      
        </div>
    </div>

</div> 



{% endblock %}