{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!--Status 'GymBag' page-->
<div class="overlay"></div>
<div class="container-fluid about-container">
    <div class="row" id="order-status">
        <div class="col mt-5 mb-5">

            <h1>Order Status</h1>

           
            {% if searched %}
            <h1>You searched for {{ searched }}</h1>
           

            {% for order in order_list  %}
            <li> {{ order.order_number }} </li>
            {% endfor %}
            </ul>

            {% else %}
            <h1>You forgot to search</h1>
            {% endif %}


            <!-- 
                <h1>Order Status</h1>
                
                <div>
                    <p>Please see confirmation of your order Number</p>
                    <p>{{order.search_results}}</p>
                </div> -->

        </div>
    </div>


</div>


{% endblock %}