{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!--About 'GymBag' page-->


<div class="overlay"></div>
<div class="container-fluid about-container">
    <div class="row">
        <div class="col text-center mt-5 mb-5">
            <br>
            <br>
            <br>
            <h1>About Us</h1>
            <strong>Gym</strong>Bag is an online fashion retailer based in Ireland.
            <br>
            <br>
            <p><strong>Gym</strong>Bag sell products exclusively over the Internet. </p>
            We specializes in buying clearance stock from manufacturers and selling at discounted prices.</p>
            <p>We aim to become the no 1 fitness apparel and accessories brand in Ireland.</p>
            <p> Founded in September 2022, GymBag creates and distributes its own range of fitness wear.</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>     

{%endblock%}