{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!--Contact page-->
<div class="contact-overlay"></div>
<div class="container-fluid contact-container">
    <div class="row h-100 w-100">
        <div class="col-12 mt-3 mb-5">
           
                <h1>Contact Us</h1>
                <p> Feel free to contact us via the form below. <br>
                    We would love to hear your feedback and suggestions on how we can improve our website.</p>

                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p  }}

                    <button class="btn btn-submit" type="submit">Submit</button>

                </form>
        </div>
    </div>
</div>

{% endblock %}